<IfModule mod_rewrite.c>
RewriteEngine On
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteBase /moratalla/

# Sitemap
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Si el archivo no existe (!-f) y el directorio no existe (!-d)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Redirigir a la carpeta principal usando URL absoluta (necesario en IONOS)
RewriteRule ^(.*)$ https://www.moratalla-murcia.com/moratalla/ [R=301,L]
</IfModule>

# Fallback nativo (ruta interna) para anular la página de error por defecto de IONOS
ErrorDocument 404 /moratalla/index.php
